.jumbotron{
    background-color: #64edcd;
    color: black;
    background-size: cover;
    font-size: xxx-large;
}
.footer {
    padding: 10px 10px 0 10px;
    background-color:#64edcd;
    margin-bottom: 0;
    margin-top: 10%;
    flex-shrink: 0;
}
.tab-content{
    flex: 1 200px;
    margin-top: 20px;
}
.footer-address-icon {
    padding-right: 10px;
    bottom: 0px;
}
.btn.btn-primary {
    border-color: #141515
}
.btn-home{
    width: 100%;
    background-color: #64edcd;
    border-color: #141515
}
.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.responsive-banner {
    margin: 80px auto;
    width: 40%;
    min-width: 230px;
    max-width: 330px;
    position: relative;
    height: auto;
    min-height: 300px;
    max-height: 500px;
    border-radius: 10px;
    overflow: hidden;
    background-image: linear-gradient(to bottom right, #D45BA1, #A784E0);
}

